<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<div>
				<button type="button" onClick="homeBtn();">Home</button>
				<button type="button" onClick="signOutBtn();">Sign Out</button>
			</div>
			<h1>{{class}}</h1>
		</div>

	    <form>
			<input name="answerChoices" value="answerA" type="radio" >a.
			<input type="text" name="aText"><br>
			<input name="answerChoices" value="answerB" type="radio" >b.
			<input type="text" name="bText"><br>
			<input name="answerChoices" value="answerC" type="radio" >c.
			<input type="text" name="cText"><br>
			<input name="answerChoices" value="answerD" type="radio" >d.
			<input type="text" name="dText"><br>
			<input name="answerChoices" value="answerE" type="radio" >e. I don't know
			<br>
			<p>Correct Answer:</p>
			<input type="text" name="correctAnswer"><br>
	   	</form>
		<button type="button" onClick="backBtn();">Back</button>
		<button type="button" onClick="submitBtn();">Submit</button>
	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/addQuestion.js"></script>
</body>
</html>
