<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
			<h1>{{className}}</h1>
		</div>

	    <form id="addQuestionForm" role="form" method="post" action="/teacherClass">
	    	<input type="hidden" name="userName" value="{{userName}}"></input>
	    	<input type="hidden" name="_id" value="{{classID}}"></input>
	    	<input type="hidden" name="name" value="{{className}}"></input>

			<label for="questionText">Question Text:</label>
			<input type="text" name="questionText"><br>
			<label for="aText">a.</label>
			<input type="text" name="aText"><br>
			<label for="bText">b.</label>
			<input type="text" name="bText"><br>
			<label for="cText">c.</label>
			<input type="text" name="cText"><br>
			<label for="dText">d.</label>
			<input type="text" name="dText"><br>
			<label for="eText">e. I don't know.</label>
			<br>
			<input type="submit" id="backBtn" name="button" value="Back"></input>
			<input type="submit" id="submitBtn" name="button" value="Submit Question"></input>
	   	</form>
	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/addQuestion.js"></script>
</body>
</html>
