<!doctype html>

<html>
<head>
	<title>CourseMate</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>



<body class="wholepageBlue">

	<div class="container">
		<div class="page-headerWhite" style="margin-top:-15px;margin-bottom:10px;">
			<h1>Create a New User</h1>
		</div>
		<form id="addUserForm" role="form" method="get" action ="/createUser">
			<input class="inputTextWhite" type="radio" id="studentRadio" name="personType" value="student" checked></input>
			<label class="inputTextWhite radioText" for="studentRadio">Student</label>
			<input class="inputTextWhite" type="radio" id="teacherRadio" name="personType" value="teacher"></input>
			<label class="inputTextWhite radioText" for="teacherRadio">Teacher</label>
			<br>
			<label class="inputTextWhite" for="userName">Username:</label>
			<input class="form-control" type="text" id="username" placeholder="Username" name="userName" value="{{userName}}"><br>
			<label class="inputTextWhite" for="password">Password:</label>
			<input class="form-control" type="password" id="password" placeholder="Password" name="password"><br>
			<label class="inputTextWhite" for="password">Confirm Password:</label>
			<input class="form-control" type="password" id="passwordConfirm" placeholder="Password" name="passwordConfirm">
			<p class="errorTextHome" >{{error}}</p>
			<br>
			<input class="btn pull-right" type="submit" id="submitBtn" value="Create New User">
		</form>
		
	    <form id="backForm" role="form" method="get" action="/">
			<input class="btn pull-left" type="submit" id="backBtn" value="Back"></input>
	   	</form>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
