<!doctype html>

<html>
<head>
	<title>Welcome to QuizNow!</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<div>
				<form id="homeForm" role="form" method="get" action="/teacherHome">
					<input type="submit" value="Home"></input>
				</form>
				<form id="signOutForm" role="form" method="get" action="/user_logout">
					<input type="submit" value="Sign Out"></input>
				</form>
			</div>
			<h1>Results for '{{questionText}}'</h1>
		</div>

		<form id="viewQuestionResponseForm" role="form" method="get" action="/teacherClass">
			{{#each answers}}
				<label>{{answer}}</label><br>
			{{/each}}
 			<input type="submit" id="backBtn" value="Return to {{className}}"></input>
		</form>	

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
