<!doctype html>

<html>
<head>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/introHCI.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>



<body class="wholepageBlue">
	<div class="container">
	<center>
		<div class="jumbotron">
			<h1 class="title">CourseMate</h1>
		</div>
		<form role="form" method="get" action ="/newUser">
			<input class="btn" type="submit" id="newUser" value="New User? Sign Up Here"></input>
		</form><br>
	</center>
		<form class="signInBox" role="form" method="get" action ="/user_login">
			<input type="text" class="form-control" id="userName" placeholder="Username" name="userName"><br>
			<input type="password" class="form-control" id="password" placeholder="Password" name="password">
			<p class="errorText">{{error}}</p>
			<input class="btn pull-right" type="submit" id="signIn" value="Sign In"></input>
		</form>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>

</body>
</html>
