/*
colors to use:
new background-blue2: #003A85
home-blue: #29C2BC
btn-gray: #5D6967;
white: #FFFFFF;
yellow: #FAE455;
 
unused colors:
orange: #FA996B
old background-blue: #004A4F
new background-blue: #003A85
bright-blue: #18D9D9
red-orange: #ED4A18;
tan-orange: #F2E2C3;
yellow-orange: #F2D65A;
brown: #5A4A41
off-white: #FCFAF7
medium-gray: #6e6e6e

*/

/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

body {
     padding-top: 20px; 
}

h1 {
     font-size: 25px;
}

.page-header {
     border: none;
     color: #003A85;
     margin-bottom: -5px;
}

.page-headerWhite {
     border: none;
     color: #FCFAF7;
     margin-bottom: -5px;
     font-family: 'Noto Serif', serif;
}


.wholepageBlue {
     background: #003A85;
     margin-bottom: 10px;
 }

.wholepage {
     background: #FCFAF7;
     margin-bottom: 10px;    
 }

.jumbotron {
	position: relative;
	background: none;
     color: #FFFFFF;
}


.jumbotron:after {
     content:"";
     color: #29C2BC;
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron .title {
     font-family: 'Megrim';
     color: #FAE455;
     font-weight: bolder;
     font-size: 1.5em;
     text-align: center;
     margin: none;
}

.homebutton {
     color: #FAE455;
     vertical-align: middle;
}

span {
     vertical-align: middle;
}

.navbar-inner {
     background-color: #003A85;
     padding: 5px;   
}

.navbar {
     background-color: #FAE455;        
     border-color: #FAE455;              
}

.project a {
     text-align: center;
}

fieldset {
     border:2px solid #003A85;
     border-radius: 10px;
     padding-left: 8px;
     padding-right: 8px;
     padding-top: none;
     padding-bottom: 8px;
     margin-top: none;
     margin-bottom: 5px;
}

.fieldsetCollapse .content {
     display: none;
}

legend {
     padding-left: 1em;
     padding-bottom: none;
     border: none;
     text-align: left;
     font-size: 16px;
}

.signInBox{
     padding: 10px 40px;
}

.inputTextWhite{
     color: #FCFAF7;
     font-family: 'Noto Serif', serif;
     font-size: 14px
}

.inputText{
     color: #003A85;
     font-family: 'Noto Serif', serif;
     font-size: 14px
}

.radioText{
     margin-right: 25px;
     margin-left: 5px;
}

.control-label{
     text-align: right;
}

.container .errorTextHome{
     font-family: 'Noto Serif', serif;
     color: #FAF3C3;

}
.container .errorTextOther{
     color: #ED4A18;
     font-family: 'Noto Serif', serif;
}

.container h4{
     color: #003A85;
     font-family: 'Noto Serif', serif;
}

.btn {
     background-color: #5D6967;
     color: #FFFFFF;
     font-family:  = 'Noto Serif', serif;
     font-size: 12px;
     padding: none;
}

.class-btn {
     width: 100%;
     margin-bottom: 5px;
}

.form-control{
     background-color: #FAF3C3;
     font-family:  = 'Noto Serif', serif;
     font-size: 12px;
     padding: none;
     height: 30px;
 }

 .form-group {
     margin-bottom: 5px;
 }

.form-control:focus{
     outline-color: #003A85;
 }

.pieChart{
     width: 250px;
     height: 250px;
     vertical-align: middle;
}