/*
blue: #004A4F
bright-blue: #18D9D9
home-blue: #29C2BC
brown: #5A4A41
orange: #FA996B
tan-orange: #F2E2C3;
yellow-orange: #F2D65A;
off-white: #FCFAF7
medium-gray: #6e6e6e
btn-gray: #5D6967;
*/

/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.wholepage {
     background: #004A4F;
}

.jumbotron {
	position: relative;
	background: none;
     color: #FCFAF7;
}

.jumbotron:after {
     content:"";
     color: #18D9D9;
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}

.jumbotron .title {
     font-family: 'Megrim';
     color: #F2D65A;
     font-weight: bolder;
     font-size: 50px;
     text-align: center;

}

.homebutton {
     color: #29C2BC;
}

.navbar-inner {
     background-color: #004A4F;        
}

.navbar {
     background-color: #FA996B;        
     border-color: #FA996B;               
}

.project a {
     text-align: center;
}

.container .inputText{
     color: #FCFAF7;
     font-family: 'Noto Serif', serif;
}

.container .errorText{
     color: #FA996B;
     font-family: 'Noto Serif', serif;
}

.container h4{
     color: #FCFAF7;
     font-family: 'Noto Serif', serif;
}

.btn {
     background-color: #5D6967;
     color: #FCFAF7;
     font-family:  = 'Noto Serif', serif;
}

.form-control{
     background-color: #F2E2C3;
     font-family:  = 'Noto Serif', serif;
}

.pieChart{
     width: 900px;
     height: 500px;
}